<div class="container">

<div class="row">

	<div class="col-md-12 col-sm-0 col-xs-0 welcome-banner">

		<div class="col-md-3 text-center hidden-sm hidden-xs">
			<h3>Children. Our greatest</h3>
			<h3>earthly blessings.</h3>
		</div>

		<div class="col-md-6 text-center">
			<h1>Beautiful Beginnings</h1>
			<hr class="hr-title">
			<h4>celebrating baby and child</h4>
		</div>

		<div class="col-md-3 hidden-sm hidden-xs">
			<div class="input-group" id="myForm">
				<input type="text" class="form-control" placeholder="Search Site...">
				<span class="input-group-btn">
				<button class="btn btn-secondary" type="button">Go!</button>
				</span>
			</div>
		</div>

		<div class="visible-sm visible-xs text-center">
			<div class="row">
				<div class="col-sm-5 col-xs-5">
					<a href="#"><p>Baby Registry</p></a>
				</div>
				<div class="col-sm-2 col-xs-2">
					<p>|</p>
				</div>
				<div class="col-sm-5 col-xs-5">
					<a href="#"><p>Login/Register</p></a>
				</div>
			</div>
		</div>
	</div>

</div>
</div>

<hr class="banner">

<div class="row hidden-sm hidden-xs">
	<div class="container menu-items">

		<div class="dropdown">
			<button class="dropbtn">BABY APPAREL</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">BABY GIFTS</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">CHRISTENING</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">FURNITURE</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">BEDDING</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">DECOR</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">LIGHTING</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">SALE</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">BRANDS</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>

	</div>
</div>


<div class="row image-section">
	<div class="container" id="photoRotation">
		<div class="current">
			<img class="center-cropped" src="img/baby_stock.jpg" />
		</div>

		<div>
			<img class="center-cropped" src="img/baby_feet.jpg" />
		</div>

		<div>
			<img class="center-cropped" src="img/baby_room.jpg" />
		</div>
	</div>
	
	<div class="navBanner">

		<div class='description text-center hidden-sm hidden-xs'>
			<p class='description_content'>Crib</p>
			<p class='description_content'>Bedding</p>
			<p class='description_content'>Sale</p>
			<a href="/shop" class="btn btn-primary">shop now</a>
		</div>
	</div>

</div>

<div class="row crib-bedding visible-sm visible-xs">
	<div class="container text-center">

	<div class="pBlock">
		<h2>Crib Bedding Sale</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tu enim ista lenius</p>

		<div class="text-center">
		    <a href="/shop" class="btn btn-primary comments">Shop Now</a>
		</div>
	</div>

	</div>
</div>

<div class="row featured visible-sm visible-xs">
	<div class="container text-center">

	<div class="pBlock">
		<h2>Featured Products</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tu enim ista lenius</p>

		<div class="text-center">
		    <a href="/shop" class="btn btn-primary comments">See All</a>
		</div>
	</div>

	</div>
</div>



<div class="row">
	<div class="container text-center">

	<div class="pBlock hidden-sm hidden-xs">
		<h4>Featured</h4>
		<h4>Products</h4>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tu enim ista lenius</p>

		<div class="text-center">
		    <a href="/shop" class="btn btn-primary comments">shop now</a>
		</div>
	</div>

	{{#each products}}
		{{#if this.feat}}
			<div class="pBlock">
				<a href="#"><img class="rounded-0" src={{this.img}}/></a>
				<b>{{this.Title}}</b> <br>
				<i>${{this.price}}</i>
			</div>
		{{/if}}
	{{/each}}

	</div>
</div>

<hr class="banner">

<div class="row aboutHome">
	<div class="container">
			<h2>We Love Babies</h2>
	</div>
</div>

<div class="row aboutHome">
	<div class="container">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tu enim ista lenius, hic Stoicorum more nos vexat. Quasi ego id curem, quid ille aiat aut neget. Non potes, nisi retexueris illa. Quamquam haec quidem praeposita recte et reiecta dicere licebit.

		Poterat autem inpune; Aeque enim contingit omnibus fidibus, ut incontentae sint. Item de contrariis, a quibus ad genera formasque generum venerunt. Quid igitur, inquit, eos responsuros putas? Summus dolor plures dies manere non potest? Eam si varietatem diceres, intellegerem, ut etiam non dicente te intellego; Dat enim intervalla et relaxat. Item de contrariis, a quibus ad genera formasque generum venerunt. Sed tu istuc dixti bene Latine, parum plane. Quae quo sunt excelsiores, eo dant clariora indicia naturae.
		</p>
	</div>
</div>

<div class="row signature">
	<div class="container">
		<h4>Love , Devvie & Jackie</h4>
	</div>
</div>

